{{#unless message}}
<h1>That page doesn't Exist!</h1>
{{/unless}}
{{#if message}}
<h1 id='msg' data-url="{{redirect}}">{{message}}</h1>
{{/if}}
<br>
<br>
<h2>Redirecting in: <span id='time'>5</span> seconds.</h2>

<script type="text/javascript" src="/assets/javascript/utils/countdownRedirect.js"></script>