<h1>That page doesn't Exist!</h1>
<br>
<br>
<h2>Redirecting in: <span id='time'>5</span> seconds.</h2>
<script>

    const timeEl = document.getElementById('time');
    let time = 5;
    setInterval(function () {

        let timeRemaining = time --;
        timeEl.textContent = timeRemaining;
        if (time === 0) {
            window.location.replace('/');
        }
    }, 1000)



</script>