<h1>Welcome to Rent a Puppy!</h1>

{{!-- TESTING IMAGE UPLOADING --}}
<form>
    <button type="Show Image" id='btn'>Create Pet</button>
</form>
<form id="test" method="POST" enctype="multipart/form-data" style="visibility: collapse;">
    <div>
        <input type="file" name="file" accept="image/png, image/jpeg, image/gif" id="input-files" />
    </div>
    <button type="submit" value='Upload' id='btn2'>Submit</button>
</form>

<form>
    <button type="Show Image" id='btn1'>Show Image</button>
</form>

<div id="img-container">

</div>

<script>
    const btn = document.getElementById('btn');
    const btn1 = document.getElementById('btn1');
    const btn2 = document.getElementById('btn2')
    const imgContainerEl = document.getElementById('img-container');

    async function uploadHandler(event) {
        const file = document.getElementById('input-files').files[0];
        event.preventDefault();
        const owner_id = 2;
        const name = 'UploadTest';
        const age = 3;
        const breed = 'Testerb';
        const personality_trait = 'Determined';
        const bio = 'test';
        const profile_picture = file;
        const response = await fetch('/api/pets', {
            method: 'post',
            body: JSON.stringify({
                owner_id,
                name,
                age,
                breed,
                personality_trait,
                bio,
            }),

            headers: { 'Content-Type': 'application/json' }
        })
        if (response.ok) {
           
            const form = document.getElementById('test');
            const resData = await response.json();
            const id = resData.dbPetData.id
            form.setAttribute('action', 'http://localhost:3001/api/pets/upload/' + id);
            form.removeAttribute('style');
        }

    }
    btn.addEventListener('click', uploadHandler);


    async function showImageHandler(event) {
        event.preventDefault();
        const response = await fetch('/api/pets/45', {
            method: 'get',
            headers: { 'Content-Type': 'application/json' }
        }).then(res => {
            return res.json();
        })
        const imgData = response.profile_picture.data;
        console.log(imgData);
        let typedArray = new Uint8Array(imgData);
        let blob = new Blob([typedArray], { type: 'image/jpeg' });
        const nImage = document.createElement('img');
        nImage.src = URL.createObjectURL(blob);
        imgContainerEl.appendChild(nImage);
    }

    btn1.addEventListener('click', showImageHandler);
</script>