<div class="bg-gray-100 dark:bg-gray-800 rounded-2xl relative h-screen relative dashBack w-full pr-8">
  <div class="flex items-start justify-start  w-full">
    <div id='navContainer' class="h-screen  lg:block my-4 ml-4 shadow-lg relative w-80">
      <div class="bg-white h-full rounded-2xl dark:bg-gray-700">
        <div class="flex items-center justify-center pt-6">
          <img class='logo-img' src="/assets/images/track.png">
        </div>
        <nav class="mt-6">
          <div>
            <a class="w-full font-thin uppercase text-purple-900 flex items-center p-4 my-2 transition-colors duration-200 justify-start bg-gradient-to-r from-white to-purple-100 border-r-4 border-purple-900 dark:from-gray-700 dark:to-gray-800 border-r-4 border-purple-900"
              href="/user/home">
              <span class="text-left">
               {{>svg/home}}
                </svg>
              </span>
              <span class="mx-4 text-sm font-normal">
                Home
              </span>
            </a>
            <a class="w-full font-thin uppercase text-gray-500 dark:text-gray-200 flex items-center p-4 my-2 transition-colors duration-200 justify-start hover:text-purple-900"
              href="/dashboard/user/{{user}}">
              <span class="text-left">
                {{>svg/dashboard}}
              </span>
              <span class="mx-4 text-sm font-normal">
                Dashboard
              </span>
            </a>

            <a class="w-full font-thin uppercase text-gray-500 dark:text-gray-200 flex items-center p-4 my-2 transition-colors duration-200 justify-start hover:text-purple-900"
              href="/logout">
              <span class="text-left">
               {{>svg/logout}}
              </span>
              <span class="mx-4 text-sm font-normal">
                Logout
              </span>
            </a>
          </div>
        </nav>
      </div>
    </div>




    {{!-- CONTAINER --}}
    <div class=" h-screen w-full flex-wrap justify-center ">
      <div class="flex flex-row flex-wrap sm:flex-row ml-2 mt-4 w-full">
        {{!-- GOOGLE SLACK DIV--}}
        <div class="w-full flex-wrap justify-center sm:w-11/12 h-screen ">
          {{!-- START GOOGLE --}}
          <div class="ml-4 h-screen">
            <div class="shadow-lg rounded-2xl  p-4 bg-purple-100 dark:bg-gray-700 overflow-auto">
              <div class="w-full h-auto">
                <div class="p-1 w-full h-auto flex flex-row flex-wrap justify-center">
                  {{#each pet}}
                  <a id='petCard' class="m-1 h-96" href="/pet/{{id}}">
                    {{>components/petcard}}
                  </a>
                  {{/each}}
                </div>
              </div>
            </div>
            {{!-- END GOOGLE --}}
          </div>

          {{!-- START SLACK --}}



        </div>
        {{!-- END GOOGLE AND SLACK DIV CONTAINER --}}
        <div id='modal'>

        </div>
        {{!-- MY TASKS and TIMER --}}
        {{!-- CALENDAR/ MESSAGE DIVS --}}
        <div class="w-full lg:w-11/12 ml-4">
          {{!-- END DIV FOR CAL AND MESSAGES --}}
        </div>
      </div>
      {{!-- CONTAINER --}}
    </div>
  </div>


  <script src="/assets/javascript/utils/renderImages.js"></script>