/* ADD STYLES HERE */
.logo-img{
    height: 50px;
}
#imagePreview{
 height: max-content;
}

/* scroll bars */
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(97, 1, 165) rgb(255, 255, 255);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 1px;
  }
/*   
  *::-webkit-scrollbar-track {
    background: rgb(97, 1, 165)
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(97, 1, 165);
    border-radius: 5px;
    border: 3px solidrgb(255, 255, 255);
  } */
/* MEDIA QUERY FOR THE NAV CONTAINER ON THE DASHBOARDS */

@media only screen and (max-width: 600px) {
    #navContainer {
        max-width: 50px;
        overflow: hidden;
    }
}