<div class="min-h-screen bg-white flex flex-col justify-center">
    <div class="flex-1 flex flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
        <div class="flex flex-col justify-center ">
            <div class=" flex flex-col justify-center mx-auto w-full max-w-sm lg:w-96">
                <div class="flex flex-col justify-center">
                    <h2 class="mt-6 text-3xl text-center font-extrabold text-gray-900">
                        Sign Up
                    </h2>
                </div>
                <div class="mt-8">
                    {{!-- alert container--}}
                    <div id="alert-container">

                    </div>
                    {{!-- alert container --}}
                    <div class="mt-6">
                        <form class="space-y-6">
                            <div class="space-y-1">
                                <div>
                                    {{#if user}}
                                    <label for="userName" class="block text-sm font-medium text-gray-700">
                                        Username
                                    </label>
                                    <div class="mt-1">
                                        <input id="userName" data-ident="user" name="userName" type="text"
                                            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                    </div>
                                    {{/if}}
                                    {{#if owner}}
                                    <label for="ownerName" class="block text-sm font-medium text-gray-700">
                                        Username
                                    </label>
                                    <div class="mt-1">
                                        <input id="ownerName" data-ident="owner" name="ownerName" type="text"
                                            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="space-y-1">
                                <label for="email" class="block text-sm font-medium text-gray-700">
                                    Email address
                                </label>
                                <div class="mt-1">
                                    <input id="email" {{#if user}}data-ident="user"data-ident="owner"{{/if}}  {{#if owner}}data-ident="owner"data-ident="owner"{{/if}}name="email" type="email" autocomplete="email"
                                        required
                                        class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                </div>
                            </div>


                            <div class="space-y-1">
                                <label for="password" class="block text-sm font-medium text-gray-700">
                                    Password
                                </label>
                                <div class="mt-1">
                                    <input id="password" name="password" type="password" autocomplete="current-password"
                                        required
                                        class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                </div>
                            </div>

                            <div class="flex items-center justify-between">
                                <div class="flex items-center">
                                    <input id="remember_me" name="remember_me" type="checkbox"
                                        class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded">
                                    <label for="remember_me" class="ml-2 block text-sm text-gray-900">
                                        Remember me
                                    </label>
                                </div>
                                {{#if user}}
                                {{!-- IF USER --}}
                                <div class="text-sm">
                                    <a href="/owner/signup" class="font-medium text-indigo-600 hover:text-indigo-500">
                                        Owner Sign Up
                                    </a>
                                </div>
                            </div>

                            <div>
                                <button id='signup-btn' type="submit"
                                    class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                    SignUp
                                </button>
                            </div>
                        </form>
                        <div class="text-sm mt-2">
                            <a href="/user/login" class="font-medium text-indigo-600 hover:text-indigo-500">
                                Login instead
                            </a>
                        </div>
                        {{!-- END IF USER --}}
                        {{/if}}
                        {{#if owner}}
                        <div class="text-sm">
                            <a href="/user/signup" class="font-medium text-indigo-600 hover:text-indigo-500">
                                User Sign Up
                            </a>
                        </div>
                    </div>

                    <div>
                        <button id='signup-btn' type="submit"
                            class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            SignUp
                        </button>
                    </div>
                    </form>
                    <div class="text-sm mt-2">
                        <a href="/owner/login" class="font-medium text-indigo-600 hover:text-indigo-500">
                            Login instead
                        </a>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript" src="/assets/javascript/utils/event-handlers/login-alerts.js"> </script>
<script type="text/javascript" src="/assets/javascript/utils/event-handlers/signup.js"> </script>